<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">

		<div class="card bg-light mt-5">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/views/clientes/save}" th:object="${cliente}" method="POST">
					<div class="form-group row mt-2">
						<input type="hidden" th:field="*{id}" >
						<label class="col-md-2" for="nombre">Nombre</label> 
						<input type="text" th:field="*{nombres}" class="form-control form-control-sm col-md-6"
							id="nombres" placeholder="Ingrese Nombre"> 
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombres')}" 
						th:errors="*{nombres}"></small>
					</div>
					<div class="form-group row mt-2">
						<label class="col-md-2" for="apellidos">Apeliidos</label>
						 <input type="text" th:field="*{apellidos}" class="form-control form-control-sm col-md-6"
							id="apellidos" placeholder="Ingrese Apeliidos"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}" 
						th:errors="*{apellidos}"></small>
					</div>
					<div class="form-group row mt-2">
						<label class="col-md-2" for="telefono">Telefono</label>
						<input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6"
							id="telefono" placeholder="Ingrese Telefono"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" 
						th:errors="*{telefono}"></small>
					</div>
					<div class="form-group row mt-2">
						<label class="col-md-2" for="email">Email</label>
						 <input type="email" th:field="*{email}" class="form-control form-control-sm col-md-6"
							id="email" placeholder="Ingrese Email"> 
						<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" 
						th:errors="*{email}"></small>
					</div>

					<div class="form-group row mt-2">
						<label class="col-md-2" for="ciudad">Ciudad</label> 
						<select type="text" th:field="*{ciudad}" class="form-control form-control-sm col-md-6"
							id="ciudad">
							<option
								th:each="ciudad:${ciudades}"
								th:value="${ciudad.id}"
								th:text="${ciudad.ciudad}"
							 />
						</select>
					</div>

					<input type="submit" class="btn btn-primary"  value="Guardar"/>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>